In [33]:
import numpy as np
import pandas as pd
from sklearn.linear_model import Perceptron
from sklearn.model_selection import  train_test_split
from sklearn.metrics import accuracy_score
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.datasets import make_classification
import math

In [34]:
or_data= pd.DataFrame()

In [35]:
or_data['input1'] = [0,0,1,1]
or_data['input2'] = [0,1,0,1]
or_data['output'] = [0,1,1,1]
or_data

   input1  input2  output
0       0       0       0
1       0       1       1
2       1       0       1
3       1       1       1

In [36]:
x = or_data.iloc[:,:-1]
y = or_data.iloc[:,-1]
x

   input1  input2
0       0       0
1       0       1
2       1       0
3       1       1

In [37]:
def sigmoid(x):
    return 1/1+math.exp(-x)


def relu(x):
    return max(0, x)