In [10]:
import numpy as np
import pandas as pd

In [11]:
df = pd.DataFrame([[8,8,4], [7,9,5], [6,10,6], [5,12,7]], columns=['CGPA', 'IQ', 'LPA'])
df

   CGPA  IQ  LPA
0     8   8    4
1     7   9    5
2     6  10    6
3     5  12    7

In [ ]:
# INITIALIZE THE PARAMETERS

def initialize_parameters(layer_dim):
    np.random.seed(3)
    parameters = {}
    L = len(layer_dim)
    for i in range(1,L):
        parameters['w'+ str(i)] = np.ones((layer_dim[i-1], layer_dim[i]))*0.1
        parameters['b'+ str(i)] = np.zeros((layer_dim[i], 1))
        
    return parameters
initialize_parameters([2,2,1])

{'w1': array([[0.1, 0.1],
        [0.1, 0.1]]),
 'b1': array([[0.],
        [0.]]),
 'w2': array([[0.1],
        [0.1]]),
 'b2': array([[0.]])}

In [ ]:
x = df[['CGPA', 'IQ']].values[0].reshape(2,1)           # Selecting one row (each)
y = df[['LPA']].values[0][0]

In [ ]:
def linear_forward(A_prev, w, b):
    z= np.dot(np.transpose(w), A_prev) + b      # calculating weighted sum
    return z

In [ ]:
def L_forward(x, parameters):
    A = x
    l = len(parameters)//2
    
    for i in range(1, l+1):
        A_prev = A
        w1 = parameters['w' + str(i)]
        b1 = parameters['b'+ str(i)]
        
        print(f"{ 'A'+ str(i-1) } = { A_prev }.")
                                                                        # forward propagation
        print(f"{ 'w'+ str(i) } = {w1}")
       
        print(f"{ 'b'+ str(i) } = {b1} ")
      
        print("--"*10)
        
        A = linear_forward(A_prev, w1, b1)
        
        print(f"{ 'A'+ str(i) } = { A }.")
        print("---"*10)
    
    
    return A, A_prev

In [25]:
parameters = initialize_parameters([2,2,1])
y_hat, A1 = L_forward(x, parameters)

A0 = [[8]
 [8]].
w1 = [[0.1 0.1]
 [0.1 0.1]]
b1 = [[0.]
 [0.]]
--------------------
A1 = [[1.6]
 [1.6]].
------------------------------
A1 = [[1.6]
 [1.6]].
w2 = [[0.1]
 [0.1]]
b2 = [[0.]]
--------------------
A2 = [[0.32]].
------------------------------

In [27]:
y_hat = y_hat[0][0]
y_hat# calculate the loss

np.float64(0.32000000000000006)

In [24]:
parameters

{'w1': array([[0.1, 0.1],
        [0.1, 0.1]]),
 'b1': array([[0.],
        [0.]]),
 'w2': array([[0.1],
        [0.1]]),
 'b2': array([[0.]])}

In [28]:
# update the parameters

def update_params(parameters, y, y_hat, A1, x):
    parameters['w2'][0][0] = parameters['w2'][0][0] + 0.001*2*(y-y_hat)*A1[0][0]
    parameters['w2'][1][0] = parameters['w2'][1][0] + 0.001*2*(y-y_hat)*A1[1][0]
    parameters['b2'][0][0] = parameters['b2'][0][0] + 0.001*2*(y-y_hat)
    
    parameters['w1'][0][0] = parameters['w1'][0][0] + 0.001*2*(y-y_hat)*parameters['w2'][0][0]*x[0][0]
    parameters['w1'][0][1] = parameters['w1'][0][1] + 0.001*2*(y-y_hat)*parameters['w2'][0][0]*x[1][0]
    parameters['b1'][0][0] = parameters['b1'][0][0] + 0.001*2*(y-y_hat)*parameters['w2'][0][0]
    
    parameters['w1'][1][0] = parameters['w1'][1][0] + 0.001*2*(y-y_hat)*parameters['w2'][1][0]*x[0][0]
    parameters['w1'][1][1] = parameters['w1'][1][1] + 0.001*2*(y-y_hat)*parameters['w2'][1][0]*x[1][0]
    parameters['b1'][1][0] = parameters['b1'][1][0] + 0.001*2*(y-y_hat)*parameters['w2'][1][0]

In [29]:
update_params(parameters, y, y_hat, A1, x)

In [30]:
parameters

{'w1': array([[0.10658137, 0.10658137],
        [0.10658137, 0.10658137]]),
 'b1': array([[0.00082267],
        [0.00082267]]),
 'w2': array([[0.111776],
        [0.111776]]),
 'b2': array([[0.00736]])}